/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  padding-left: 0px;
  padding-right: 0px;
  height: 100vh;
  overflow: scroll;

  .results {
    height: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
