.start_time_div {
  text-align: right;
  padding-right: 5px;
}

.segment {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: flex;
}

.route_color_parent {
  position: relative;
  align-items: stretch;
}

.route_color_circle {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 15px;
  top: 5px;
  border-radius: 50%;
}

.route_color {
  position: absolute;
  height: calc(100% + 40px);
  left: 20px;
  width: 5px;
  padding: 0;
  top: 10px;
}
