/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
}

.result {
  cursor: pointer;
}
