.root {
  height: 250px;
  background-color: rgba(49,131,195,1);
  padding: 20px;
  text-align: center;

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .button {
    border-radius: 10%;
  }
}
